:root {
  --page-bgc: #18435a;
  --header-bgc: #13293d;
  --card-bgc: #061827;
  --button1-bgc: #2c2c2c;
  --button2-bgc: #2a628f;
  --button3-bgc: #592979;
  --button-active: rgb(42, 74, 75);
  --font-colorWht: white;
  --font-hover: cornflowerblue;
  --font-link-color: #c07feb;
  --font-error-text: #fb2424;
}

body {
  height: 100vh;
  margin: 0;
  color: var(--font-colorWht);
}

:fullscreen {
  overflow: auto;
}

* {
  box-sizing: border-box;
}
